<!-- SPEAKERS SECTION -->	
	<section id="speakers">
		<h3 align="center">Our team</h3> <!-- Section Title -->
		<div class="separator"></div>
		<div class="container">
			<div class="col-md-8 col-md-offset-2">
				<!-- Section Description -->
				<p>Here you can see our team as well as contact information of each team member.</p>
			</div>
			
			<!-- First Row of Speakers -->
			<div class="row1">
			
				<!-- Speaker 1 -->
				<div class="col-md-3">
					<a href="#" class="member-profile">
						<div class="hover_img">
						<img src="https://s25.postimg.org/gf52eivof/djordje.jpg" alt="" width="250" height="250" id="profileImage"/>
						</div>
						<div id="contactteam">
						<span>Creative Director</span>
						<h4><span>Djordje</span> Todorovic</h4>
					</a>
					<a href="http://www.googleplus.com">
						<img src="https://s25.postimg.org/ms3vidi3j/googleplus.png" width="25" height="25">
					</a>

					<a href="http://www.facebook.com">
						<img src="https://s25.postimg.org/4o0uxqkez/facebook.png" width="25" height="25">
					</a>

					<a href="http://www.instagram.com">
						<img src="https://s25.postimg.org/53c4qr6cf/linkedin.png" width="25" height="25">
					</a>


					<a href="http://www.twitter.com">
						<img src="https://s25.postimg.org/b5jrh8usf/twitter.png" width="25" height="25">
					</a>
					<a href="https://github.com/nenadlazic/PWEB16">
						<img src="https://s25.postimg.org/f578zh1wf/github.png" width="25" height="25">
					</a>	
				</div>
				</div>
				
				<!-- Speaker 2 -->
				<div class="col-md-3">
					<a href="#" class="member-profile">
						<div class="hover_img">
						<img src="https://s25.postimg.org/inj8vv2sf/stefan.jpg" alt="" width="250" height="250" id="profileImage"/>
						</div>
						<div id="contactteam">
						<span>Database expert</span>
						<h4><span>Stefan</span> Zaric</h4>
					</a>	
					<a href="http://www.googleplus.com">
						<img src="https://s25.postimg.org/ms3vidi3j/googleplus.png" width="25" height="25">
					</a>

					<a href="http://www.facebook.com">
						<img src="https://s25.postimg.org/4o0uxqkez/facebook.png" width="25" height="25">
					</a>

					<a href="http://www.instagram.com">
						<img src="https://s25.postimg.org/53c4qr6cf/linkedin.png" width="25" height="25">
					</a>


					<a href="http://www.twitter.com">
						<img src="https://s25.postimg.org/b5jrh8usf/twitter.png" width="25" height="25">
					</a>
					<a href="https://github.com/nenadlazic/PWEB16">
						<img src="https://s25.postimg.org/f578zh1wf/github.png" width="25" height="25">
					</a>
				</div>
				</div>
				
				<!-- Speaker 3 -->
				<div class="col-md-3">
					<a href="#" class="member-profile">
						<div class="hover_img">
						<img src="https://s25.postimg.org/i87z2ugv3/mladen.jpg" alt="" width="250" height="250" id="profileImage"/>
						</div>
						<div id="contactteam">
						<span>Frontend designer</span>
						<h4><span>Mladen</span> Lazic</h4>
					</a>					
					<a href="http://www.googleplus.com">
						<img src="https://s25.postimg.org/ms3vidi3j/googleplus.png" width="25" height="25">
					</a>

					<a href="http://www.facebook.com">
						<img src="https://s25.postimg.org/4o0uxqkez/facebook.png" width="25" height="25">
					</a>

					<a href="http://www.instagram.com">
						<img src="https://s25.postimg.org/53c4qr6cf/linkedin.png" width="25" height="25">
					</a>


					<a href="http://www.twitter.com">
						<img src="https://s25.postimg.org/b5jrh8usf/twitter.png" width="25" height="25">
					</a>
					<a href="https://github.com/nenadlazic/PWEB16">
						<img src="https://s25.postimg.org/f578zh1wf/github.png" width="25" height="25">
					</a>
				</div>

				</div>
				
				<!-- Speaker 4 -->
				<div class="col-md-3">
					<a href="#" class="member-profile">
						<div class="hover_img">
						<img src="https://s25.postimg.org/fferitgin/nenad.jpg" alt="" width="250" height="250" id="profileImage"/>
						</div>

						<div id="contactteam">
						<span>SEO Expert</span>
						<h4><span>Nenad</span> Lazic</h4>
					</a>
					<a href="http://www.googleplus.com">
						<img src="https://s25.postimg.org/ms3vidi3j/googleplus.png" width="25" height="25">
					</a>

					<a href="http://www.facebook.com">
						<img src="https://s25.postimg.org/4o0uxqkez/facebook.png" width="25" height="25">
					</a>

					<a href="http://www.instagram.com">
						<img src="https://s25.postimg.org/53c4qr6cf/linkedin.png" width="25" height="25">
					</a>


					<a href="http://www.twitter.com">
						<img src="https://s25.postimg.org/b5jrh8usf/twitter.png" width="25" height="25">
					</a>
					<a href="https://github.com/nenadlazic/PWEB16">
						<img src="https://s25.postimg.org/f578zh1wf/github.png" width="25" height="25">
					</a>
					</div>					
				</div>
				
			</div> <!-- End First Row -->

			<div class="clear"></div>
			
			<!-- View All Button -->
			<div class="col-md-12" id = "allteam">
				<button class="btn btn-transparent fadeIn">View All</button>
			</div>	
					
		</div>
	</section>
	<!-- //SPEAKERS SECTION -->	

