<div class="collapse navbar-collapse" id="menu" >
    <ul class="nav navbar-nav navbar-right">
        <li><a id="navi" href="#/" ><span navcolor = "color" >Home</span></a></li>
        <li><a id="navi" href="#/offers" ><span navcolor = "color">Offers</span></a></li>
        <li><a id="navi" href="#/contact" ><span navcolor = "color">Contact</span></a></li>
        <li><a id="navi" href="#/about" ><span navcolor = "color">About</span></a></li>

		<li>
			<a  id="navi" style="color:white" data-toggle="dropdown" href="">Profile</a>
	        <ul class="dropdown-menu">
	          <li><a href="#">Change password</a></li>
	          <li><a href="#">Change photo</a></li>
	        </ul>
		</li>

   		<li><a id="navi" ng-controller="loginController"  ng-click ="logout()" href="#/login" ><span navcolor = "color">Logout</span></a></li>
    </ul>
</div>