<div class="container">

<div id = "basicSignup" class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
		<form class="form-signin"> 
			<fieldset>
				<h2>Sign In</h2>
				<hr class="colorgraph">
				<div class="form-group">
                    <input type="email" ng-model="email" class="form-control input-lg" placeholder="Email Address">
				</div>
				<div class="form-group" >
                    <input type="password" pattern=".{8,}" class="form-control input-lg" placeholder="Password">
                    <div class="help-block">Minimum of 8 characters</div>
				</div>
				<div class="button-checkbox">
				        <input type="checkbox" ng-model="rememberMe" >
				        Remember me
				</div>
				<hr class="colorgraph">
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6">
                        <input type="submit" class="btn btn-lg btn-success btn-block" ng-click = "login()" value="Sign In">
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6">
						<a href="#/signup" class="btn btn-lg btn-primary btn-block">Register</a>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>

</div>