<div class="container center">
    <div class="row">
        <div class="col-md-8 col-xs-12" show="divQSPerview">
            <ul ng-repeat='offer in offers | orderBy:"title"'>
                <div class="row" id="qsview">
                    <h4>
			<p id = "offerStyle">NAME: {{offer.name}}</p>
			<p id = "offerStyle">DESCRIPTION: {{offer.description}}</p>
			<input id = "btn_offers"type="submit" class="btn btn-primary" value="Details" ng-click="show_offers()">
		    </h4>
                </div>
            </ul>
        </div>
    </div>
</div>