<div class="container center">
    <div class="row">
        <div class="col-md-2 col-xs-0">
        </div>
        <div class="col-md-8 col-xs-12" show="divQSPerview">
            <ul ng-repeat='offer in offers | orderBy:"title"'>
                <div class="row" id="qsview">
                    <h4>
			<p id = "offerStyle">NAME: {{offer.name}}</p>
			<p id = "offerStyle">LOCATION: {{offer.location}}</p>
			<p id = "offerStyle">DESCRIPTION: {{offer.description}}</p>
			<p id = "offerStyle">DATE: {{offer.date}}</p>
		    </h4>
                </div>
            </ul>
        </div>
        <div class="col-md-2 col-xs-0">
        </div>
    </div>
</div>