#search_panel {
    margin-top: 20px;
}

#btnQuickSearch
{

  height: 45px;
  width: 130px;
  margin-left: 10px;
  background-color: rgb(32, 48, 63);
}

#kindQuickSearch
{

  height: 45px;
  width: 300px;
}

#locationQuickSearch
{

  height: 45px;
  width: 200px;
}

#title
{
  margin-top: 80px;
  margin-bottom: 80px;
}

#description
{
  color: white;
  font-size: 17px;
  padding-top: 30px;
}

.btnShortcut{
    height:70px;
    width:70px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center;
}

button[btn="hotel"]{
  background-image: url("../pictures/hotel.png")
}

button[btn="market"]{
  background-image: url("../pictures/market.png")
}

button[btn="coffe"]{
  background-image: url("../pictures/coffe.png")
}

button[btn="food"]{
  background-image: url("../pictures/food.png")
}

button[btn="nightlife"]{
  background-image: url("../pictures/nightlife.png")
}


#basic{
  background-image: url("../pictures/belgrade.jpg");
  min-height: 800px;
}
#basic1{
  background-color: rgba(50, 50, 150, 0.6);
  min-height: 800px;
  margin-top: -20px;
}

div[show = "divQSPerview"]{
  background: white;
  margin-top: 20px;
  border-radius: 10px;
  height: 250px;
}

footer{
  background-color: rgb(32, 48, 63);
  text-align: center;
  border-style: solid;
  border-top-width: 3px;
  border-top-color: rgb(109,177,56);
  border-right-color: rgb(32, 48, 63);
  border-bottom-color: rgb(32, 48, 63);
  border-left-color: rgb(32, 48, 63);

}

div[fdiv = "naslovkt"]{
  font-size: 13px;
  font-family: arial;
}

td[name = "kt"]{
color : rgb(109,177,56);
font-size: 18px;
padding-bottom: 5px;
padding-top: 5px;
}

table[tfont = "font"]
{
  color: white;
}

#nav-placeholde
{
  background-color: rgb(32, 48, 63);
  position: relative;
}

span[navcolor = "color"]{
  color: white;
}

#navi:hover { 
    background-color:rgba(255, 255, 255, 0.1);
}

#navi:active{
    background-color:rgba(255, 255, 255, 0.2);
}

#basicSignup{

  margin-top: 35px;
  margin-bottom: 60px;
}

*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.3em;
}

*[role="form"] h2 {
    margin-left: 5em;
    margin-bottom: 1em;
}

#container {
   min-height:100%;
   position:relative;
   min-height: 500px;
   height:100%;
}
}

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#6cf;
min-height:500px;
}

#allteam {
    align:center;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

#profileImage {
  border-style: solid;
  border-radius: 125px;
  border-top-color: rgb(32, 48, 63);
}

#contactteam{
  padding-top: 10px;
  text-align: center;
}

#qsview{
  background-color: rgba(32, 48, 63, 0.4);
  border-radius: 10px;
  padding: 10px;
  position: relative;
}

#btn_offers
{
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 120px;
}

#offerStyle{

  color: black;
  width: 500px;
}

#rightoffer
{
  background-color: red;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}