<ul>
	<!--ovo se ispise za svaku ponudu koju imamo u trnutnim ponudama naslov opis kratki gde mozete dodati svoj komentar ako zelite i ispod procitati dosadasnje komentare-->
	<li ng-repeat='offer in offers | orderBy:"title"'>
		<h2>{{offer.title}}</h2>
		<p>{{offer.summary}}</p>
			<a href="#/offer/{{offer.id}}">
				{{offer.comments.length}}
				<span ng-show='offer.comments.length == 1'> comment</span>
				<span ng-hide='offer.comments.length == 1'> comments</span>
			</a>
			<!--ispis komentara-->
			<a href="#/addComment/{{offer.id}}">Add comment</a>
		</p>

		<!--ovaj deo je poziv direktive i zamenjuje onaj deo zaprikaz komentara i opcija add comment tako sto je ubacen u direktivu radi bolje modularnosti koda. Kada pozivamo direktivu moramo joj zadati ove stvari koje su nam potrebne u njoj odn koje smo def u scope direktive koju pozivamo pa saljemo ovo comments='offer.comments' order-by='id' delete-comment-handler='deleteComment'-->
		<div gb-comment-list comments="offer.comments" order-by="id" delete-comment-handler="deleteComment" show="offer.id==selectedOfferId"></div>	
	</li>
</ul>
